@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.final-round {
    margin: 0;
    padding: 0;
    border: 10;
    width: 100%;
    height: 100%;
    -moz-box-shadow:inset 0 0 40px #FF0000;
    -webkit-box-shadow:inset 0 0 40px #FF0000;
    box-shadow:inset 0 0 40px #FF0000;

    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(10);
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
	}
}
    

body {
    background-color: black;
    color: white;
    background-repeat: no-repeat;
    font-family: Orbitron;
    text-transform: uppercase;
    background-image: url(/assests/images/rock-paper-scissors-background-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

/* main background */
.game-background {
    margin: 1% 5% 0% 5%;
}

/* game display area */
.heading {
    text-align: center;
    word-spacing: 22px;
    font-size: 50px;
    text-shadow: 2px 3px #278f5f;
}

.game-area {
    display: flex;
    width: 73%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.style-btn {
    font-family: 'Orbitron';
    text-transform: uppercase;
    margin: 13px 10px 0px 2%;
    width: 139px;
    height: 48px;
    position: absolute;
    font-size: 22px;
    box-shadow: 10px 10px 20px 0px rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(69, 146, 18);
}


.style-modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 70px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
}

.modals{
     display: none;  
    position: fixed; 
    z-index: 1; 
    padding-top: 70px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
    text-align: center;
    line-height: 2em;
    font-size: 1.5em;
}

.modal-content{
    text-align: center;
    font-size: 1.5em;
}

.display {
    border: 15px groove rgb(255, 255, 255);
    border-radius: 10%;
    height: 250px;
    width: 300px;
    box-shadow: 10px 10px 20px 0px rgb(69, 146, 18);
}

.display-img {
    margin: 51px 77px
}

.img-fluid {
    margin-left: 1.5rem;
}

.vs {
    margin: -70px 31%;
    font-size: 45px;
    text-align: center;
    
}

.result{
    font-size: 27px;
    background-color: rgba(0, 0, 0, 0.3) ;
    word-spacing: 5px;
    letter-spacing: 1px;
    margin-top: 15px;
}

/* control panel area */
.control-panel {
    text-align: center;
    margin: 9em 10em 0em 10em;
}

.btn {
    height: 150px;
    width: 150px;
}

.button {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: rgb(14, 65, 103);


}

.button-red {
    background-color: rgb(14, 65, 103);
    box-shadow: 10px 10px 20px 0px rgb(17, 76, 112);
}

.button-red:active,
.button-red:hover {
    background-color: rgb(239, 84, 128);
}

.button-yellow {
    background-color: rgb(14, 65, 103);
    box-shadow: 10px 10px 20px 0px rgb(17, 76, 112);
}

.button-yellow:active,
.button-yellow:hover {
    background-color: rgb(225, 222, 85);
}

.button-blue {
    background-color: rgb(14, 65, 103);
    box-shadow: 10px 10px 20px 0px rgb(17, 76, 112);
}

.button-blue:active,
.button-blue:hover {
    background-color: rgb(114, 217, 224);
}

/* score area */
.score-area {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
    margin-left: -86px;
    font-size: 4.5rem;
    margin-bottom: 20%;
    word-spacing: 20px;
    text-shadow: 5px 5px rgb(0, 0, 0);
};

/* --------- Media queries */
@media screen and (max-width:1024px) {
    .style-btn{
        margin:7px 10px 0px -34px;
    }
    .vs {
        margin: 47px 45%;
    }

    .control-panel {
        text-align: center;
        margin: 5em 10em 0em;
    }

    .style-btn {
        margin: 9px 3px 0px -47px;
        width: 127px;
    }

}


/* --------- Media queries */

@media screen and (max-width:768px) {
    .style-btn {
        width: 83px;
        height: 42px;
        font-size: 15px;
        margin-top: 77px;
        margin-left: 10px;
    }

    .heading {
        word-spacing: 3px;
        padding-top: 77px;
        margin-left: 25px;
        font-size: 34px;
    }

    .game-area {
        margin-top: 77px;
        width: 100%;
    }

    .display {
        width: 266px;
        height: 284px;
    }

    .vs {
        margin: -62px 44%;
        font-size: 33px;
    }

    .control-panel {
        margin: 13em 10em 0em;
    }

    .button {
        height: 120px;
        width: 120px;
    }

    .btn {
        width: 100px;
        height: 100px;
    }

    .score-area {
        justify-content: space-evenly;
        font-size: 29px;
        margin-top: 54px;
        margin-left: 7px;
    }

}


/* --------- Media queries */

@media screen and (max-width:375px) {

    .game-background{
        width: 100%;
    }

    .heading {
        margin-top: -62px;
        font-size: 32px;
        width: 125%;
    }

    .style-btn {
        font-family: 'Orbitron';
        width: 50px;
        position: absolute;
        margin: 113px 231px;
        font-size: 10px;
        height: 30px;
    }

    .img-fluid {
        margin-top: 1em;
        margin-left: 0.5rem;
        width: 20px;
        height: 20px;
    }

    .display {
        width: 214px;
        height: 150px;
        margin: 0px 5px;
    }

    .display-img {
        margin: 7px 39px;
    }


    .vs {
        margin: 34px 209px;
        font-size: 22px;
    }

    .game-area {
        width: 100%;
    }

    .control-panel {
        margin: 6em 1em 2em 7em;
    }

    .btn {
        width: 90px;
        height: 92px;
    }

    .button {
        width: 99px;
        height: 98px;
    }


    .score-area {
        margin-left: 7px;
        margin-top: 162px;
        width: 126%;
    }


}